# Copyright (c) 2015, NVIDIA CORPORATION. All rights reserved.
/.project
/apps/TextureLoaderTest
/apps/TextureUpload
/3rdparty/boost
/3rdparty/COLLADA_DOM
/3rdparty/devil
/3rdparty/downloads
/3rdparty/fltLib
/3rdparty/freeglut
/3rdparty/glew
/3rdparty/glfw
/3rdparty/HOOPS
/3rdparty/lib3ds
/3rdparty/MDL_SDK
/3rdparty/OpenEXR
/3rdparty/tiff
/3rdparty/tinyxml
/builds
/dp/sg/io/DAE
/dp/sg/io/EXR
/dp/sg/io/FLT
/dp/sg/io/MBSDF
/dp/sg/io/OBJ/Loader
/media/effects/mdl
/media/textures/maxbench
/media/textures/mdl
/temp
/test/scripts/test_launch_site.txt
